// header
.header {
  width: 100%;
}

.header-nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  li {
    margin-right: 50px;
  }
}